<div class="container" style="max-width: 400px;">
    <div class="superior">


<div class="ui-g-12">
    
    <br>
    <button class="cadastro-boton" pButton type="submit" label="Meus Jogos" routerLink="/jogos" ></button>
    <br>
    <br>
    <button class="cadastro-boton" pButton type="submit" label="Cadastrar Jogos" routerLink="/jogo/novo" ></button>
    <br>
    <br>
    <button class="cadastro-boton" pButton type="submit" label="Resultados" routerLink="/resultados" ></button>
    <br>
    <br>
    <button class="cadastro-boton" pButton type="submit" label="Conferir jogos" routerLink="/conferir" ></button>
    
  </div>

    </div>
</div>