<div class="container">
    <div class="superior">
      <div class="ui-g">
        <form autocomplete="off" (ngSubmit)="pesquisarResultado()">
      <div class="ui-g-12">
        <h1>Resultado do concurso</h1>
      </div>
    <div class="ui-g-12">
      <label style="display: block"> Numero do concuso </label>
      <input type="number" style="width: 85px"  name="concurso"
      [(ngModel)]="concurso">
      
    </div>
     
    <div class="ui-g-12">
     
      <button pButton type="submit" label="Conferir" [disabled]="!concurso"></button>
      
    </div>
  </form>
    </div>
    </div>
    <div class="ui-g" *ngIf="mostrarTabela">
      <div class="ui-g-12">
        <p-table [value] ="[numeros]" [tableStyle]="{ 'min-width': '50rem' }" [responsive]="true">
          <ng-template pTemplate="header">
              <tr>
                  <th>Numero do councurso</th>
                  <th>Meus numeros</th>
                                    
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-numeros>
              <tr>
                  <td>{{ numeros.numeroConcurso }}</td>
                  <td>{{ numeros.list }}</td>
                
                  
                  
              </tr>
          </ng-template>
      </p-table>
      </div>
    
    </div>
    </div>
    


