.ui-g-12{
    padding-bottom: 15px;
  }
  .cadastro-boton {
    margin-right: 15px;
    padding: 8px;
    
        
   }

   .cadastro-boton4 {
    margin-right: 15px;
    padding: 8px;
    background-color: green !important;
        
   }

   .repetir-boton {
    margin-right: 15px;
    padding: 8px;
        
   }

   .cadastro-boton2 {
    margin-right: 8px;
    padding: 8px;
    
        
   }

   .cadastro-boton3 {
    margin-right: 19px;
    margin-left: 2px;
    padding: 8px;
        
   }
  