<app-navbar></app-navbar>



 
<p-confirmDialog header="Confirmação" icon="fa fa-question-circle" #confirmacao>
    <p-footer>
        <button type="button" pButton icon="fa fa-check" label="Sim"
        (click)="confirmacao.accept()"></button>
        <button type="button" pButton icon="fa fa-times" label="Não"
        (click)="confirmacao.reject()"></button>
    </p-footer>
</p-confirmDialog>


<app-cadastro-jogos></app-cadastro-jogos>
 

<!-- 
    
    <app-meus-jogos></app-meus-jogos>
    

<app-resultados></app-resultados> 
<app-cadastro-usuario></app-cadastro-usuario>
<app-conusta-resultado></app-conusta-resultado> //implemntar pesquisar()
<app-conferencia-jogos></app-conferencia-jogos> //implementar pesquisar()




-->