<app-navbar></app-navbar>



 
<p-confirmDialog header="Confirmação" icon="fa fa-question-circle" #confirmacao>
    <p-footer>
        <button type="button" pButton icon="fa fa-check" label="Sim"
        (click)="confirmacao.accept()"></button>
        <button type="button" pButton icon="fa fa-times" label="Não"
        (click)="confirmacao.reject()"></button>
    </p-footer>
</p-confirmDialog>


<app-cadastro-usuario></app-cadastro-usuario>

<!-- 
    <app-resultados></app-resultados>
   <app-conferencia-jogos></app-conferencia-jogos>  
   <app-conusta-resultado></app-conusta-resultado> 
   <app-cadastro-jogos></app-cadastro-jogos> 
    pronto -->