<div class="container" style="max-width: 400px; margin: auto">
  <div class="superior">
      

        <form #usuarioForm="ngForm" (ngSubmit)="salvarUsuario(usuarioForm)">
        <div class="grid">
    
          <div class="col-12 p-fluid">
            <h1><strong> Cadastro de Usuario </strong></h1>
        </div>

    <div class="col-12 p-fluid">
      
      <input pInputText type="text" placeholder="Nome" style="width: 480px"  name="nome" [(ngModel)]="usuario.nome" required>
      <br>
      <br>
            
      
      <input pInputText type="text" placeholder="E-mail" style="width: 480px" name="email" [(ngModel)]="usuario.email" required email>
      <br>
      <br>

      
      
      
      <input pInputText type="text" placeholder="Senha" style="width: 480px" name="senha" [(ngModel)]="usuario.senha" required>
      <br>
      

      
    </div>

    <div class="error" *ngIf="mensagemErro">{{ mensagemErro }}</div>
    
    <br>
    <div class="ui-g-12">
     
      <button pButton type="submit" label="Cadastrar" [disabled]="!usuarioForm.valid"></button>
      <br>
      <br>
      <div class="col-12">
        <a routerLinkActive="ativo" routerLink="login">Já tenho cadastro</a>
    </div>
      
    </div>
    
    </div>
</form>
  </div>
</div>
