<div class="container">
    <div class="superior">
      
      

        <form #usuarioForm="ngForm" (ngSubmit)="salvarUsuario(usuarioForm)">
        <div class="ui-g">
    
      <div class="ui-g-12">
        <h1>Cadastro de usuario</h1>
      </div>
    <div class="ui-g-12">
      <label class="nome-margin"> Nome </label>
      <input type="text" style="width: 480px"  name="nome" [(ngModel)]="usuario.nome" required>
      <br>
      <br>
            
      <label class="email-margin"> Email </label>
      <input type="text" style="width: 480px" name="email" [(ngModel)]="usuario.email" required email>
      <br>
      <br>

      
      
      <label class="senha-margin"> Senha </label>
      <input type="text" style="width: 150px" name="senha" [(ngModel)]="usuario.senha" required>
      <br>
      <br>

      
    </div>

    
    <div class="ui-g-12">
     
      <button pButton type="submit" label="Cadastrar" [disabled]="!usuarioForm.valid"></button>
      
    </div>
    
    </div>
</form>
    </div>
   
    </div>
    

