<div class="container">
    <div class="superior">
      <div class="ui-g">
    
      <div class="ui-g-12">
        <h1>Cadastrar Resultado</h1>
      </div>
    <div class="ui-g-12">
      <label> Numero do concuso </label>
      <input type="number" style="width: 85px">
      
    </div>

    <div class="ui-g-12">
        <p-checkbox class="cadastro-boton" name="groupname" value="val1" label="1  " ></p-checkbox>
        <p-checkbox class="cadastro-boton" name="groupname" value="val2" label="2  " ></p-checkbox>
        <p-checkbox class="cadastro-boton3" name="groupname" value="val3" label="3  " ></p-checkbox>
        <p-checkbox class="cadastro-boton" name="groupname" value="val4" label="4  " ></p-checkbox>
        <p-checkbox class="cadastro-boton" name="groupname" value="val5" label="5  " ></p-checkbox>
        <br>
        <p-checkbox class="cadastro-boton" name="groupname" value="val6" label="6  " ></p-checkbox>
        <p-checkbox class="cadastro-boton" name="groupname" value="val7" label="7  " ></p-checkbox>
        <p-checkbox class="cadastro-boton3" name="groupname" value="val8" label="8  " ></p-checkbox>
        <p-checkbox class="cadastro-boton" name="groupname" value="val9" label="9  " ></p-checkbox>
        <p-checkbox class="cadastro-boton" name="groupname" value="val10" label="10" ></p-checkbox>
        <br>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val11" label="11" ></p-checkbox>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val12" label="12" ></p-checkbox>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val13" label="13" ></p-checkbox>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val14" label="14" ></p-checkbox>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val15" label="15" ></p-checkbox>
        <br>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val16" label="16" ></p-checkbox>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val17" label="17" ></p-checkbox>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val18" label="18" ></p-checkbox>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val19" label="19" ></p-checkbox>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val20" label="20" ></p-checkbox>
        <br>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val21" label="21" ></p-checkbox>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val22" label="22" ></p-checkbox>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val23" label="23" ></p-checkbox>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val24" label="24" ></p-checkbox>
        <p-checkbox class="cadastro-boton2" name="groupname" value="val25" label="25" ></p-checkbox>
        <br>
        <br>
        

    </div>  
    <div class="ui-g-12">
     
      <button pButton type="submit" label="Cadastrar" ></button>
      
    </div>
    
    </div>
    </div>
   
    </div>
    

